<div class="col-md-3 col-xl-2 px-sm-2 px-0 bg-light">
  <div class="d-flex flex-column align-items-center align-items-sm-start px-3 pt-2 text-black min-vh-100">
    <span class="fs-3 d-none d-sm-inline " style="align-self: center;">Saúde<span
        style="font-weight: bold; color:#0dcaf0">+</span>Barão</span>
    <ul class="nav nav-pills flex-column mb-sm-auto mb-0 align-items-center align-items-sm-start" id="menu">
      <li class="nav-item">
        <a href="./home/home.html" class="nav-link align-middle px-0">
          <i class="fs-4 bi-house"></i> <span class="ms-1 d-none d-sm-inline">Início</span>
        </a>
      </li>
      <li>
        <a href="./agendamento/index.html" class="nav-link px-0 align-middle">
          <i class="fs-4 bi-table"></i> <span class="ms-1 d-none d-sm-inline">Agendamentos</span></a>
      </li>
      <li>
        <button type="button" class="px-0 align-middle btn" style="width: 100%; color: red;">
          <i class="fs-4 bi-box-arrow-left"></i> <span class="ms-1 d-none d-sm-inline btn-outline-danger"
            id="btnLogout">Sair</span></button>
      </li>
    </ul>
  </div>
</div>