body {
  padding-top: 5rem;
  font-size: 16px; /* fonte padrao da pagina */
}

.cad-box {
  display: flex;
  align-items: center;
  flex-direction: column;
  background: #000;
  max-width: 25rem;
  margin: auto;
  padding-bottom: 2rem;
}

.cad-box h2 {
  color: #FFF;
}

.cad-box form {
  display: flex;
  flex-direction: column;
  min-width: 20rem;
}

.cad-box form label {
  color: #FFF;
  margin: .5rem;
}

.cad-box form input {
  padding: 10px 0px 10px 5px;
  border-radius: 5px;
  font-size: 16px;
}

.cad-box form input[type='submit'] {
  margin-top: 1.5rem;
  cursor: pointer;
  background: #1c8adb;
  color: #FFF;
  border: none;
  font-size: 16px;
}

.cad-box form input[type='submit']:hover {
  background: #39ace7;
}